/*html, body{
    margin: 0;
}*/

.social{
    background-color: #F0F5F9;
    display: flex;
    flex-flow: column nowrap;
}

.social__tittle{
    margin: 4rem 0 3rem 0;
}
.social__description{
    margin: 0 0 2rem 0;
}
.button-get{
    background-color: dodgerblue;
    border-radius: 6rem;
    color: white;
    display: inline-block;
    /*margin: 1rem 0 5rem 0;*/
    padding: 0.7rem;
    text-align: center;
    text-decoration: none;
    width: 6rem;
}
.social__img{
    overflow: hidden;
    width: 100%;
}