body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E7E7E7;
    height: 10%;
}
.navbar-pages {
    display: none;
}
.logo {
    padding: 2%;
}
.navbar-items {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: left;
}
.button--outline {
    display: none;
}
.menu-hamburguer {
    display: inline-block;
    width: 15%;
    margin: 2%;
}
.menu-hamburguer span {
    display: block;
    background: #A5A9AF;
    width: 20px;
    height: 2px;
    margin: 7%;
}
.hero {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    width: 100%;
}
.hero-tittle {
    font-size: 2rem;
}
.hero-text {
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    }
.button{
    border-radius: 25px;
    text-decoration: none;
}
.button--primary{
    background-color: #018bf6;
    color: #ffffff;
    padding: 1rem 1.5rem;
}
.hero-img-center-mob {
    width: 90%;
    padding-top: 10%;
}
.hero-desk, .hero-tab {
    display: none;
}
.feature--lighter-gray{
    background: #F0F5F9;
}
.feature--dark-gray{
    background: #E6EDF5;
}
.feature__content{
    box-sizing: border-box;
    padding: 10% 5% 0 5%;
    margin-top: 10%;
}
.feature__demo{
    overflow: hidden;
    margin-top: 5%;
}
.feature__demo__img{  
    height: 90%;
    margin-top: 2rem;
    width: 90%;
}
.feature__demo__img--negative-right{  
    position: relative;
    right: -40%;
}
.feature__content__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.feature__content__list li{
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}
.feature__content__list li:nth-child(1){
    background: #2F579D;
}
.feature__content__list li:nth-child(3){
    background: #03AAE2;
}
.feature__content__list li:nth-child(5){
    background: #EC5C09;
}
.feature__content__list li:nth-child(7){
    background: #2F579D;
}
.feature__content__list li:nth-child(9){
    background: #DA0000;
}
.feature__content__list li:nth-child(10){
    display: none;
}
.feature__content__list li:nth-child(11){
    display: none; 
}
.feature__content__list a{
    color: white;
    font-size: 0.8rem;
}
.feature:last-child .feature__demo{
    display: flex;
    justify-content: center;
}
.features__group{
    background-image: url(./img/background-r.png);
    background-position-x: center;
}
.features__group__brand, .features__group__brand div, .features__group__analytics, .features__group__analytics div{
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
}
.features__group p{
    color: #a4a6a8;
}
.features__group__brand img{
    align-self: flex-end;
}
.features__group__analytics{
    overflow: hidden;
}
.features__group__analytics img{
    left: -37%;
    position: relative;
    width: 90%;
}
.get-started{
    align-items: center;
    background-color: #018bf6;
    display: flex;
    flex-flow: column nowrap;
    padding: 6rem 0;
}
.get-started h2, p{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 1rem 0;
    text-align: center;
}
.get-started a{
    border-radius: 25px;
    text-decoration: none;
}
.button--secondary{
    background-color: #364049;
    color: #ffffff;
    padding: 1rem 1.5rem;
}
.enterprise{
    align-items: center;
    background-color: #364049;
    display: flex;
    flex-flow: column nowrap;
}
.enterprise__logo{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    margin: 3rem 0 0 0;
}
.enterprise__logo--link{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}
.enterprise__logo--power{
    color: #a4a6a8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 0.7rem;
}
.enterprise__menu ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.enterprise__menu li{
    color: #caced1;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    list-style-type: none;
    margin: 1rem 0 0 0;
}
.enterprise__social{
    padding: 3rem;
}
.footer--facebook, .footer--twitter{
    background-color: #a4a6a8;
    box-sizing: border-box;
    color: #364049;
    height: 20px;
    padding: 2px;
    text-align: center;
    width: 20px;
}
@media(min-width: 768px) {
    .navbar-pages {
        display: none;
    }
    .button{
        display: inline-block;
        border-radius: 25px;
        text-decoration: none;
        margin: 1%;
    }    
    .button--outline{
        border: 1px solid #aeb2b8;
        padding: 0.5rem 1rem;
        background-color: #ffffff;
    }
    .get--started {
    color: #018bf6;
    }
    .login {
        color: #919A9F;
    }
    .hero-mob {
        display: none;
    }
    .hero-img-center-tab {
        width: 60%;
    }
    .hero-img-left-tab, 
    .hero-img-right-tab {
        width: 20%;
    }
    .hero-tab {
        display: flex;
        padding-top: 10%;
    }
    .feature{
        display: flex;
        justify-content: flex-end;
    }
    .feature--row-reverse{
        flex-direction: row-reverse;
    }
    .feature__demo__img--negative-left-50{
        position: relative;
        left:-50%;
    }
    .feature__demo__img--negative-left-35{
        position: relative;
        left:-35%;
    }
    .feature__content{
        padding: 0;
        width: 50%;
    }
    .feature__demo{
        width: 50%;
    }
    .features__group__brand{
        display: flex;
        flex-flow: row nowrap;
    }
    .features__group__brand div{
        padding-top: 10%;
        width: 50%;
    }
    .features__group__brand img{
        align-self: flex-start;
        padding-left: 30%;
        padding-top: 5%;
    }
    .features__group__analytics{
        display: flex;
        flex-flow: row-reverse 
    }
    .features__group__analytics div{
        padding-top: 10%;
        width: 50%;
    }
    .features__group__analytics img{
        left: -30%;
        position: absolute;
        width: 80%;
    }
    .enterprise{
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .enterprise__logo{
        margin: 0;
        width: 20%;
    }
    .enterprise__menu{
        padding-right: 3%;
        width: 70%;
    }
    .enterprise__menu ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    .enterprise__menu li{
        margin: 0.7rem;
    }
    .enterprise__social{
        padding: 3rem 0;
        width: 10%;
    }
}
@media(min-width: 992px) {
    .navbar {
        justify-content: space-between;
    }
    .navbar-pages {
        display: flex;
        justify-content: center;
        width: 60%;
        padding: 0 3% 0 3%;
    }
    .navbar-pages li {
        display: inline;
        text-transform: uppercase;
        font-size: 1rem;
        color: #919A9F;
        padding: 5% 0 5% 0;
        margin: 0 3% 0 3%;
    }
    .navbar-pages li:nth-child(2n):hover {
        padding-top: 5%;
        border-top: 2px solid black;
    }
    .navbar-pages li:nth-child(2n+1):hover {
        padding-bottom: 5%;
        border-bottom: 2px solid #0B57E8;
    }
    .navbar-items {
        padding-right: 4%;
        width: 30%;
    }
    .menu-hamburguer {
        display: none;
    }
}
.hero {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    width: 100%;
}
.hero-tittle {
    font-size: 2rem;
}
.hero-text {
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    }
.button{
    border-radius: 25px;
    text-decoration: none;
}
.button--primary{
    background-color: #018bf6;
    color: #ffffff;
    padding: 1rem 1.5rem;
}
.hero-img-center-mob {
    width: 90%;
    padding-top: 10%;
}
.hero-img-left-tab, .hero-img-center-tab, 
.hero-img-right-tab, .hero-img-left-desk, 
.hero-img-center-desk, .hero-img-right-desk {
    display: none;
}
/* tablet */
@media (min-width: 768px) {
    .hero-img-left-tab, 
    .hero-img-center-tab, 
    .hero-img-right-tab {
    display: inline;
    }
    .hero-img-center-mob {
        display: none;
    }
    .hero-img-center-tab {
        width: 50%;
    }
    .hero-img-left-tab, 
    .hero-img-right-tab {
        width: 18%;
    }
    .hero-tab {
        display: flex;
        padding-top: 10%;
    }
}
/* desktop */
@media (min-width: 768px) {

    .hero-desk {
        display: flex;
        justify-content: center;
    }
    .hero-img-left-desk, 
    .hero-img-center-desk, 
    .hero-img-right-desk {
        display: inline;
    }
    .hero-img-left-tab, 
    .hero-img-center-tab, 
    .hero-img-right-tab {
        display: none;
    }
    .hero-img-center-desk {
        width: 50%;
    }
    .hero-img-left-desk, 
    .hero-img-right-desk {
        width: 15%;
    }
    .feature__content{
        width: 30%;
    }
    .feature__demo__img{
        position: static;
    }
    .feature__content__list li:nth-child(10){
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .feature__content__list li:nth-child(11){
        align-items: center;
        background: rgb(81, 120, 182);
        display: flex;
        justify-content: center;
    }
    .features__group__brand{
        padding: 0 10%;
    }
    .features__group__brand div{
        padding-left: 16%;
        width: 25%;
    }
    .features__group__analytics div{
        padding-right: 25%;
        width: 25%;
    }
    .features__group__analytics img{
        left: 0;
        position: static;
        width: 50%;
    }
    .enterprise{
        padding: 0 10%;
    }
}
