<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./features__group.css">
    <link rel="stylesheet" href="../button/button.css">
    <title>Features Group</title>
</head>
<body>
    <div class="features__group">
        <article class="features__group__brand">
            <h2>Brand Monitoring</h2>
            <p>Set up keywords related to your brand and monitor all social channels. Have results delivered right to the reach.me inbox, and see the frequency of your brand's keywords in your analytics report.</p>
            <a href="" class="button button--primary">Get Started</a>
            <img src="../../img/features-group-nike.png" alt="">
        </article>
        <article class="features__group__analytics">
            <h2>Analytics</h2>
            <p>Get insight into profile and individual posts, as well as trends across social media. All analytics are packaged into beautiful, presentation-ready reports that can be exported into CSVs and PDFs.</p>
            <a href="" class="button button--primary">Get Started</a>
            <img src="../../img/monitor.png" alt="">
        </article>
    </div>

</body>
</html>