<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./navbar.css">
    <title>Navbar</title>
</head>

<body>
    <header class="navbar">
        <img class="logo" src="../../img/logo.jpg" alt="logo reach.me">
        <ul class="navbar-pages">
            <li>features</li>
            <li>pricing</li>
            <li>about us</li>
            <li>blog</li>
            <li>contact us</li>
        </ul>
        <div class="navbar-items">
        <a href="" class="button button--outline">Log in</a>
        <a href="" class="button button--outline2">Get Started</a>
        <nav class="menu-hamburguer">
            <span></span>
            <span></span>
            <span></span>
        </nav>
        </div>
    </header>
</body>

</html>