html,body{
    margin: 0;
    padding: 0;
}
.feature--lighter-gray{
    background: #F0F5F9;
}
.feature--dark-gray{
    background: #E6EDF5;
}
.feature__content{
    box-sizing: border-box;
    padding: 10% 5% 0 5%;
    margin-top: 10%;
}
.feature__demo{
    overflow: hidden;
    margin-top: 5%;
}
.feature__demo__img{  
    height: 90%;
    margin-top: 2rem;
    width: 90%;
}
.feature__demo__img--negative-right{  
    position: relative;
    right: -40%;
}
.feature__content__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.feature__content__list li{
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}
.feature__content__list li:nth-child(1){
    background: #2F579D;
}
.feature__content__list li:nth-child(3){
    background: #03AAE2;
}
.feature__content__list li:nth-child(5){
    background: #EC5C09;
}
.feature__content__list li:nth-child(7){
    background: #2F579D;
}
.feature__content__list li:nth-child(9){
    background: #DA0000;
}
.feature__content__list li:nth-child(10){
    display: none;
}
.feature__content__list li:nth-child(11){
    display: none; 
}
.feature__content__list a{
    color: white;
    font-size: 0.8rem;
}
.feature:last-child .feature__demo{
    display: flex;
    justify-content: center;
}
/*layout tablet*/
@media(min-width: 768px){
    .feature{
        display: flex;
        justify-content: flex-end;
    }
    .feature--row-reverse{
        flex-direction: row-reverse;
    }
    .feature__demo__img--negative-left-50{
        position: relative;
        left:-50%;
    }
    .feature__demo__img--negative-left-35{
        position: relative;
        left:-35%;
    }
    .feature__content{
        padding: 0;
        width: 50%;
    }
    .feature__demo{
        width: 50%;
    }
}
/*layout desktop*/
@media(min-width: 992px) {
    .feature__content{
        width: 30%;
    }
    .feature__demo__img{
        position: static;
    }
    .feature__content__list li:nth-child(10){
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .feature__content__list li:nth-child(11){
        align-items: center;
        background: rgb(81, 120, 182);
        display: flex;
        justify-content: center;
    }
}