.enterprise{
    align-items: center;
    background-color: #364049;
    display: flex;
    flex-flow: column nowrap;
}
.enterprise__logo{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    margin: 3rem 0 0 0;
}
.enterprise__logo--link{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}
.enterprise__logo--power{
    color: #a4a6a8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 0.7rem;
}
.enterprise__menu ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.enterprise__menu li{
    color: #caced1;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    list-style-type: none;
    margin: 1rem 0 0 0;
}
.enterprise__social{
    padding: 3rem;
}
.footer--facebook, .footer--twitter{
    background-color: #a4a6a8;
    box-sizing: border-box;
    color: #364049;
    height: 20px;
    padding: 2px;
    text-align: center;
    width: 20px;
}
/*layout tablet*/
@media(min-width: 768px){
    .enterprise{
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .enterprise__logo{
        margin: 0;
        width: 20%;
    }
    .enterprise__menu{
        padding-right: 3%;
        width: 70%;
    }
    .enterprise__menu ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    .enterprise__menu li{
        margin: 0.7rem;
    }
    .enterprise__social{
        padding: 3rem 0;
        width: 10%;
    }
}
/*layout desktop*/
@media(min-width: 992px){
    .enterprise{
        padding: 0 10%;
    }
}